.field {
    position: absolute;
    z-index: 2;
    left: 0px;
    right: 0;
    top: 0px;
    bottom: 0;
    height: 650px;
  }

  .player {
    height: 200px;
    position: relative;
    left: -200px;
    top: 300px;
    transition: transform 0.8s ease-in;
  }
  .field:hover .player {
    transform: translate(210px);
  }
  .field:hover .ball {
    background-color: rgba(255, 0, 0, 1);
    transform: translate(800px, -200px);
  }
  .ball {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    left: 200px;
    top: 190px;
    transition: transform 1.2s ease-out 0.8s;
  }

  /* Media query */
  @media only screen and (max-width:600px) {
    .field {
        display: none;
    }
  }

  @media only screen and (min-width:601px) and (max-width:768px) {
    .field {
        height: 400px;
    }
    .player {
        height: 150px;
        top: 200px;

    }
    .ball {
        top: 100px;
        left: 160px;
        height: 30px;
        width: 30px;
        border-radius: 15px;
    }
    .field:hover .ball {
        transform: translate(500px, -200px);
      }
  }